.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-top-right-radius: 20px;
  box-shadow: 10px 0px 20px -10px #06052277;
  padding: 4rem 2rem 2rem;
  z-index: 1;
}

.sidebar a {
  transition: opacity 0.1s ease-in-out;
}

.sidebar a:hover {
  opacity: 0.8;
}

.sidebar img {
  width: 100%;
  height: auto;
  max-width: 165px;
  margin-bottom: 1rem;
}

.sidebar .client {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}

.sidebar .package {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.sidebar .seats {
  font-size: 1rem;
  color: var(--accent-color);
}

.sidebar .seats span {
  font-weight: 600;
}

.sidebar .contract-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  font-size: 0.875rem;
  padding: 0.8rem 0.5rem;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.707031 0.707092L6.70703 6.70709L12.707 0.707093' stroke='%2315134F' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 14px 9px;
}

.sidebar .menu {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.sidebar .menu li {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.sidebar .menu li a {
  color: #ffffff;
  font-size: 1rem;
  opacity: 1;
  text-decoration: none;
  margin-left: -1rem;
  transition:
    color 0.1s ease-in-out,
    margin-left 0.1s ease-in-out;
}

.sidebar .menu li a.active {
  color: var(--accent-color);
}

.sidebar .menu li a:hover {
  color: var(--accent-color);
  margin-left: 0;
}

.sidebar .menu li a::before {
  display: inline-block;
  visibility: hidden;
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0px 0px 5px var(--accent-color);
  margin-bottom: 3px;
}

.sidebar .menu li a:hover::before {
  visibility: visible;
}

.sidebar .details p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}

.sidebar .details p:first-child {
  color: #d988d5;
}

.sidebar .details p span {
  font-weight: 600;
}

.sidebar .copyright {
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}
